<div class="form-inline md-form">
    <input *ngIf="Language=='English'" autocomplete="off" size="70" style="width: 34em;" class="form-control mr-sm-2"
        type="text" placeholder=" Search entire store here ..." aria-label="Search"
        (ngModelChange)="ProductModel.Name=$event; onKeydown($event)" name="Name" #Name="ngModel"
        [(ngModel)]="ProductModel.Name">
    <input *ngIf="Language=='Hindi'" autocomplete="off" size="70" style="width: 34em;" class="form-control mr-sm-2"
        type="text" placeholder=" यहां पूरी दुकान खोजें ..." aria-label="Search"
        (ngModelChange)="ProductModel.Name=$event; onKeydown($event)" name="Name" #Name="ngModel"
        [(ngModel)]="ProductModel.Name">
    <input *ngIf="Language=='Marati'" autocomplete="off" size="70" style="width: 34em;" class="form-control mr-sm-2"
        type="text" placeholder=" येथे सर्व दुकान शोध ..." aria-label="Search"
        (ngModelChange)="ProductModel.Name=$event; onKeydown($event)" name="Name" #Name="ngModel"
        [(ngModel)]="ProductModel.Name">
</div>
<div class="Language">
    <button class="btn btn-success" mat-button [matMenuTriggerFor]="menu">{{Language}}&nbsp;<i class="fa fa-caret-down"
            aria-hidden="true"></i></button>
    <mat-menu #menu="matMenu">
        <button (click)="Language='English'" mat-menu-item>English</button>
        <button (click)="Language='Hindi'" mat-menu-item>हिन्दी</button>
        <button (click)="Language='Marati'" mat-menu-item>मराठी</button>
    </mat-menu>
</div>
<button *ngIf="!loggedInuserDetails && Language=='English'" class="btn-info"
    style="position: fixed;right: 7px;z-index: 100; top: 3px;" mat-button [routerLink]="['/login/']">LOG IN</button>
<button *ngIf="!loggedInuserDetails && Language=='Hindi'" class="btn-info"
    style="position: fixed;right: 7px;z-index: 100; top: 3px;" mat-button [routerLink]="['/login/']">लॉग इन</button>
<button *ngIf="!loggedInuserDetails && Language=='Marati'" class="btn-info"
    style="position: fixed;right: 7px;z-index: 100; top: 3px;" mat-button [routerLink]="['/login/']">लॉग.इन</button>

<div *ngIf="loggedInuserDetails" class="Profile" id="space" [matMenuTriggerFor]="menu"
    style="position: fixed;right: 7px;z-index: 100; top: 15px;color: skyblue;">
    <a class="logoutmenu">
        <i class="fa fa-user fa-2x fausernav"></i>
    </a>
    <mat-menu #menu="matMenu">
        <div>
            <div class="text-center">
                <i class="fa fa-user fa-icon"></i>
                <br>
                <span class="titlehead">
                    {{loggedInuserDetails?loggedInuserDetails.UserName:null|titlecase}}
                </span>
            </div>
            <br>
            <a style="cursor: pointer;" (click)="myProducts()">
                <i class="fa fa-product-hunt" aria-hidden="true"></i> &nbsp;
                <span *ngIf="Language=='English'" class="menuitem">My Products </span>
                <span *ngIf="Language=='Hindi'" class="menuitem">मेरे उत्पाद </span>
                <span *ngIf="Language=='Marati'" class="menuitem">माझी उत्पादने </span>
            </a>
            <br>
            <a *ngIf="loggedInuserDetails?loggedInuserDetails.UserType=='Admin':false" style="cursor: pointer;"
                (click)="settings()">
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp;
                <span *ngIf="Language=='English'" class="menuitem">Settings </span>
                <span *ngIf="Language=='Hindi'" class="menuitem">समायोजन </span>
                <span *ngIf="Language=='Marati'" class="menuitem">सेटिंग्ज </span>
            </a>
            <br>
            <a style="cursor: pointer;" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp;
                <span *ngIf="Language=='English'" class="menuitem">Logout </span>
                <span *ngIf="Language=='Hindi'" class="menuitem">लॉग आउट </span>
                <span *ngIf="Language=='Marati'" class="menuitem">बाहेर पडणे </span>
            </a>
        </div>
    </mat-menu>
</div>


<div *ngIf="Page=='Home'" class="row">
    <div class="col-sm-3" class="sideview">
        <button *ngIf="Language=='English'" class="btn btn-primary pull-right" (click)="clearAllFilter()">All
            Products</button>
        <button *ngIf="Language=='Hindi'" class="btn btn-primary pull-right" (click)="clearAllFilter()">सारे
            उत्पाद</button>
        <button *ngIf="Language=='Marati'" class="btn btn-primary pull-right" (click)="clearAllFilter()">सर्व उत्पादने
        </button>
        <div id="google_translate_element"></div>
        <br>
        <mat-radio-group aria-label="Select an option" (ngModelChange)="filter($event)" [(ngModel)]="filter2">
            <mat-radio-button *ngFor="let p of  ProdCategoryList" value="{{p}}"><b style="font-size: larger;"> {{p}}</b>
            </mat-radio-button>

        </mat-radio-group>
        <br><br>
        <div style="height: 32em;overflow-y: auto; scrollbar-width: 6px;">
            <mat-checkbox [ngModelOptions]="{standalone: true}" style="display: block;" *ngFor="let p of SubCategories;"
                [(ngModel)]="p.checked" (ngModelChange)="checkbox(p)">{{p.SubCategoryName}}</mat-checkbox>
        </div>
    </div>

    <div class="col-sm-9 mainview" style=" background-color: rgb(236, 231, 231);">
        <div class="row">
            <div class="col-sm-3" *ngFor="let p of ProductList;">
                <div class="prod" (click)="openProduct(p)">
                    <img class="sm" src="{{p.DisplayImage}}">
                    <footer>
                        {{p.ProductName}}
                        <br>
                        Rs. {{p.Cost}} \-<br>
                        {{p.AvgRating}} <i style="color:goldenrod;" class="fa fa-star fa-1x" *ngIf="p.AvgRating"
                            aria-hidden="true"></i>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="Page=='ProductView'">
    <i class="fa fa-chevron-left fa-3x" aria-hidden="true" (click)="imageslide('left')"></i>
    <i class="fa fa-chevron-right fa-3x" aria-hidden="true" (click)="imageslide('right')"></i>
    <button *ngIf="Language=='English'" class="btn btn-primary pull-right" style="margin: 1em;" (click)="Page='Home'">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back</button>
    <button *ngIf="Language=='Hindi'" class="btn btn-primary pull-right" style="margin: 1em;" (click)="Page='Home'">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;वापस</button>
    <button *ngIf="Language=='Marati'" class="btn btn-primary pull-right" style="margin: 1em;" (click)="Page='Home'">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;मागे</button>
    <div class="row">
        <div class="col-sm-7">
            <p style="font-weight: bold; margin-left: 285px;font-size: 30px; color: blue;margin-top: 5px;">
                {{ProductModel.ProductName}} </p>
            <div style="height: 34em;">

                <img class="lg" src="{{ImagesList[index?index:0]}}" style="margin:1em;height: 32em;">
            </div>

            <div class="row">
                <div class="col-sm-1"></div>

                <div class="col-sm-4">
                    <div class="cont">
                        <div class="stars">
                            <i style="color: goldenrod;" (click)="ratingChange(1)" class="fa fa-star A fa-2x pointer"
                                *ngIf="rate[1]" aria-hidden="true"></i>
                            <i (click)="ratingChange(1)" class="fa fa-star-o fa-2x pointer" *ngIf="!rate[1]"
                                aria-hidden="true"></i>
                            <i style="color: goldenrod;" (click)="ratingChange(2)" class="fa fa-star B fa-2x pointer"
                                *ngIf="rate[2]" aria-hidden="true"></i>
                            <i (click)="ratingChange(2)" class="fa fa-star-o fa-2x pointer" *ngIf="!rate[2]"
                                aria-hidden="true"></i>
                            <i style="color: goldenrod;" (click)="ratingChange(3)" class="fa fa-star C fa-2x pointer"
                                *ngIf="rate[3]" aria-hidden="true"></i>
                            <i (click)="ratingChange(3)" class="fa fa-star-o fa-2x pointer" *ngIf="!rate[3]"
                                aria-hidden="true"></i>
                            <i style="color: goldenrod;" (click)="ratingChange(4)" class="fa fa-star D fa-2x pointer"
                                *ngIf="rate[4]" aria-hidden="true"></i>
                            <i (click)="ratingChange(4)" class="fa fa-star-o fa-2x pointer" *ngIf="!rate[4]"
                                aria-hidden="true"></i>
                            <i style="color: goldenrod;" (click)="ratingChange(5)" class="fa fa-star E fa-2x pointer"
                                *ngIf="rate[5]" aria-hidden="true"></i>
                            <i (click)="ratingChange(5)" class="fa fa-star-o fa-2x pointer" *ngIf="!rate[5]"
                                aria-hidden="true"></i>
                        </div>

                    </div>

                </div>
                <div class="col-sm-2"> <i (click)="openRightView('Comments')" style="font-size: 33px; cursor: pointer;"
                        class="material-icons">
                        chat
                    </i><b *ngIf="Language=='English'">Reviews</b><b *ngIf="Language=='Hindi'">समीक्षा</b><b
                        *ngIf="Language=='Marati'">पुनरावलोकने</b></div>
                <div class="col-sm-2"><i (click)="openRightView('Details')" style="font-size: 33px; cursor: pointer;"
                        class="material-icons">
                        info
                    </i><b *ngIf="Language=='English'">Details</b><b *ngIf="Language=='Hindi'">विवरण</b><b
                        *ngIf="Language=='Marati'">तपशील</b></div>
            </div>

        </div>
        <div class="col-sm-5"
            style="color: rgb(107, 104, 109);font-size: 20px; height: 28em; overflow: auto;margin-top: 1em;">
            <div *ngIf="RightView=='Details'">
                <p *ngIf="Language=='English'" style="color: brown;">User Details : </p>
                <p *ngIf="Language=='Hindi'" style="color: brown;">उपयोगकर्ता की जानकारी : </p>
                <p *ngIf="Language=='Marati'" style="color: brown;">वापरकर्त्याचा तपशील : </p>
                ><br><br>
                &nbsp; {{ProductModel.UserName}} <br><br>
                &nbsp; {{ProductModel.CreatedBy}} <br><br>


                <br><br><br>

                <p *ngIf="Language=='English'" style="color: brown;">Product Details :</p>
                <p *ngIf="Language=='Hindi'" style="color: brown;">उत्पाद विवरण :</p>
                <p *ngIf="Language=='Marati'" style="color: brown;">उत्पादन तपशील :</p><br><br>
                <p *ngIf="Language=='English'"> Category :</p>
                <p *ngIf="Language=='Hindi'"> वर्ग :</p>
                <p *ngIf="Language=='Marati'"> वर्ग :</p> &nbsp; &nbsp; &nbsp; {{ProductModel.CategoryName}} -&nbsp;
                {{ProductModel.SubCategoryName}}<br><br>
                <p *ngIf="Language=='English'"> Avg Rating :</p>
                <p *ngIf="Language=='Hindi'"> औसत रेटिंग :</p>
                <p *ngIf="Language=='Marati'"> सरासरी रेटिंग :</p>&nbsp;&nbsp;&nbsp; {{ProductModel.AvgRating}} <i
                    style="color:goldenrod;" class="fa fa-star fa-1x" *ngIf="ProductModel.AvgRating"
                    aria-hidden="true"></i><br><br>
                <p *ngIf="Language=='English'"> Quality :</p>
                <p *ngIf="Language=='Hindi'"> गुणवत्ता :</p>
                <p *ngIf="Language=='Marati'"> गुणवत्ता :</p>>&nbsp;&nbsp;&nbsp;&nbsp; {{ProductModel.Quality}} / 5
                <br><br>
                <p *ngIf="Language=='English'"> Posted On:</p>
                <p *ngIf="Language=='Hindi'"> पर प्रविष्ट किया :</p>
                <p *ngIf="Language=='Marati'"> वर पोस्ट केले :</p>
                &nbsp;&nbsp;&nbsp;&nbsp;{{ProductModel.CreatedOn | date : 'medium'}} <br><br>
                <p *ngIf="Language=='English'"> Cost:</p>
                <p *ngIf="Language=='Hindi'"> लागत :</p>
                <p *ngIf="Language=='Marati'"> किंमत :</p>&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ProductModel.Cost}} \-<br><br>
                <p *ngIf="Language=='English'"> Use Case:</p>
                <p *ngIf="Language=='Hindi'"> उदाहरण :</p>
                <p *ngIf="Language=='Marati'"> केस वापरा :</p> &nbsp;&nbsp;&nbsp;{{ProductModel.Description}} <br><br>
                <p *ngIf="Language=='English'"> Available At :</p>
                <p *ngIf="Language=='Hindi'"> पर उपलब्ध :</p>
                <p *ngIf="Language=='Marati'"> येथे उपलब्ध :</p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ProductModel.Address}} <br><br>

            </div>
            <div *ngIf="RightView=='Comments'">
                <section class="msger">
                    <header class="msger-header">
                        <div class="msger-header-title">
                            <b *ngIf="Language=='English'" style="text-align: center;">&nbsp;Reviews ...</b>
                            <b *ngIf="Language=='Hindi'" style="text-align: center;">&nbsp;समीक्षा ...</b>
                            <b *ngIf="Language=='Marati'" style="text-align: center;">&nbsp;पुनरावलोकने ...</b>
                        </div>
                    </header>
                    <main class="msger-chat" #scrollMe>
                        <div *ngIf="CommentList?CommentList.length===0:false" class="msg left-msg">
                            <div class="msg-bubble">
                                <div class="msg-text">
                                    <p *ngIf="Language=='English'">No Reviews to show ...</p>
                                    <p *ngIf="Language=='Hindi'">दिखाने के लिए कोई समीक्षा नहीं ...</p>
                                    <p *ngIf="Language=='Marati'">दर्शविण्यासाठी कोणतीही पुनरावलोकने नाहीत ...</p>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="{'msg left-msg' :( !loggedInuserDetails || p.UserId!==loggedInuserDetails.Phone),'msg right-msg' :( loggedInuserDetails &&  p.UserId===loggedInuserDetails.Phone)}"
                            *ngFor="let p of CommentList; let last = last">
                            <div class="msg-bubble">
                                <div class="msg-info">
                                    <div class="msg-info-name">~{{p.UserName}}</div>
                                    <div class="msg-info-time">{{p.CreatedOn| date: 'medium'}}
                                        &nbsp; <i *ngIf="loggedInuserDetails &&  p.UserId===loggedInuserDetails.Phone"
                                            (click)="deleteComment(p.Id)" style="color: red;"
                                            class="fa fa-trash-o pointer" aria-hidden="true"></i>
                                    </div>
                                    <br>
                                </div>
                                <div style="font-size: medium;" class="msg-text">
                                    {{p.Review}}
                                </div>
                            </div>
                            {{last ? scrollToBottom() : ''}}
                        </div>
                    </main>
                    <form class="msger-inputarea">
                        <input *ngIf="Language=='English'" type="text" class="msger-input"
                            placeholder="Enter your review..." autocomplete="off" name="Review" #Review="ngModel"
                            [(ngModel)]="ProductModel.Review">
                        <input *ngIf="Language=='Hindi'" type="text" class="msger-input"
                            placeholder="अपनी समीक्षा दर्ज करें..." autocomplete="off" name="Review" #Review="ngModel"
                            [(ngModel)]="ProductModel.Review">
                        <input *ngIf="Language=='Marati'" type="text" class="msger-input"
                            placeholder="आपले पुनरावलोकन प्रविष्ट करा..." autocomplete="off" name="Review"
                            #Review="ngModel" [(ngModel)]="ProductModel.Review">
                        <button *ngIf="Language=='English'" (click)="ProductInsert('InsertFileComments')"
                            class="msger-send-btn" [disabled]="ProductModel.Review==null">Send</button>
                        <button *ngIf="Language=='Hindi'" (click)="ProductInsert('InsertFileComments')"
                            class="msger-send-btn" [disabled]="ProductModel.Review==null">संदेश</button>
                        <button *ngIf="Language=='Marati'" (click)="ProductInsert('InsertFileComments')"
                            class="msger-send-btn" [disabled]="ProductModel.Review==null">पाठवा</button>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>


<div *ngIf="Page=='MyProducts'" class="row">


    <div class="col-sm-12 mainview" style=" background-color: rgb(236, 231, 231);">
        <div class="row">
            <div class="col-sm-11"></div>
            <div class="col-sm-1">
                <button class="btn btn-info " (click)="Page='Home'"><i class="fa fa-backward" aria-hidden="true"></i>
                    &nbsp;Back</button>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2" *ngFor="let p of MyProductList;">
                <div class="prod" (click)="openProduct(p)">
                    <img class="sm" src="{{p.DisplayImage}}">
                    <footer>
                        {{p.ProductName}}
                        <br>
                        Rs. {{p.Cost}} \-<br>
                        {{p.AvgRating}} <i style="color:goldenrod;" class="fa fa-star fa-1x" *ngIf="p.AvgRating"
                            aria-hidden="true"></i>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" cdkDrag mdbModal #PopUpModal="mdbModal" id="PopUpModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-xl" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <!-- <p class="heading lead">{{Title}}</p> -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopUpModal()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->

            <div class="modal-body">

            </div>

        </div>
    </div>
</div>

<!--Modal: modalConfirmDelete confirm dialog box to delete record in table-->
<div class="modal fade" cdkDrag id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" mdbModal #modalConfirmDelete="mdbModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <div class="modal-footer flex-center">
                <button class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="ProductInsert('DeleteReview')">Yes</button>
                <button type="button" class="button round-md btnstyle btn-sm btn-danger"
                    (click)="modalConfirmDelete.hide()">No</button>
            </div>
        </div>
    </div>
</div>