// start Home
.body {
  background-color: rgb(231, 229, 226);
  position: fixed;
  height: 100%;
  width: 100%;
}

.Language{
  position: absolute;
  right:10em;
  top: 2px;
  z-index: 2000;
}

.center {
  text-align: center;
}

.block {
  height: 30em;
  width: 50em;
  border: 1em solid rgb(183, 183, 236);
  margin-left: 24em;
  margin-top: 2em;
  background-color: white;
}

h2.center {
  color: blueviolet;
}

img {
  width: 270px;
  height: 270px;
}
.left,
.right {
  border: 2px solid white;
}
:hover .left {
  border: 2px solid greenyellow;
}

:hover .right {
  border: 2px solid greenyellow;
}

.col-sm-6 {
  cursor: pointer;
}

footer {
  font-weight: bold;
  font-size: large;
}

//  End Home

// start Apartments
.Apartments {
  margin-left: 10em;
  margin-top: 2em;
}

// End Apartments


// start Materials
.Materials {
  margin-left: 10em;
  margin-top: 2em;
}


// .formleft{
// border-right: 1px solid blue;
  
// }

// End Materials