<div class="body">
    <div class="Language">
        <button class="btn btn-success" mat-button [matMenuTriggerFor]="menu">{{Language}}&nbsp;<i
                class="fa fa-caret-down" aria-hidden="true"></i></button>
        <mat-menu #menu="matMenu">
            <button (click)="Language='English'" mat-menu-item>English</button>
            <button (click)="Language='Hindi'" mat-menu-item>हिन्दी</button>
            <button (click)="Language='Marati'" mat-menu-item>मराठी</button>
        </mat-menu>
    </div>
    <button *ngIf="Language=='English'" (click)="products()" style="margin-top: 2em;margin-left: 2em;"
        class="btn btn-primary">Products</button>
    <button *ngIf="Language=='Hindi'" (click)="products()" style="margin-top: 2em;margin-left: 2em;"
        class="btn btn-primary">उत्पाद</button>
    <button *ngIf="Language=='Marati'" (click)="products()" style="margin-top: 2em;margin-left: 2em;"
        class="btn btn-primary">उत्पादने</button>
    <h2 *ngIf="Language=='English'" class="center">What would you like to Sell ?</h2>
    <h2 *ngIf="Language=='Hindi'" class="center">आप क्या बेचना चाहेंगे ?</h2>
    <h2 *ngIf="Language=='Marati'" class="center">आपण काय विक्री करू इच्छिता ?</h2>

    <div class="row" style="margin-left: 30em;">
        <div class="col-sm-3">
            <mat-form-field>
                <mat-label *ngIf="Language=='English'">CategoryName</mat-label>
                <mat-label *ngIf="Language=='Hindi'">श्रेणी नाम</mat-label>
                <mat-label *ngIf="Language=='Marati'">श्रेणी नाव</mat-label>
                <mat-select name="CategoryId" #CategoryId="ngModel" [(ngModel)]="ProductModel.CategoryId"
                    (ngModelChange)="categoryChange($event)">
                    <mat-option *ngFor="let p of CategoryList;" value="{{p.Id}}"> {{p.CategoryName}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label *ngIf="Language=='English'">SubCategoryName</mat-label>
                <mat-label *ngIf="Language=='Hindi'">उपश्रेणी नाम</mat-label>
                <mat-label *ngIf="Language=='Marati'">उपश्रेणी नाव</mat-label>
                <mat-select name="Id" #Id="ngModel" [(ngModel)]="ProductModel.Id">
                    <mat-option *ngFor="let p of SubCategoryListTemp;" value="{{p.Id}}"> {{p.SubCategoryName}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label *ngIf="Language=='English'">Product Name</mat-label>
                <mat-label *ngIf="Language=='Hindi'">उत्पाद का नाम</mat-label>
                <mat-label *ngIf="Language=='Marati'">उत्पादनाचे नांव</mat-label>
                <input *ngIf="Language=='English'" matInput placeholder="Enter Product Name" name="ProductName"
                    #ProductName="ngModel" [(ngModel)]="ProductModel.ProductName">
                <input *ngIf="Language=='Hindi'" matInput placeholder="उत्पाद का नाम दर्ज करें" name="ProductName"
                    #ProductName="ngModel" [(ngModel)]="ProductModel.ProductName">
                <input *ngIf="Language=='Marati'" matInput placeholder="उत्पादन नाव प्रविष्ट करा" name="ProductName"
                    #ProductName="ngModel" [(ngModel)]="ProductModel.ProductName">
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label *ngIf="Language=='English'">Cost</mat-label>
                <mat-label *ngIf="Language=='Hindi'">लागत</mat-label>
                <mat-label *ngIf="Language=='Marati'">किंमत</mat-label>
                <input type="number" matInput placeholder="Enter Cost" name="Cost" #Cost="ngModel"
                    [(ngModel)]="ProductModel.Cost">
            </mat-form-field><br>
            <button class="btn btn-success" (click)="ProductInsert(ProductModel,'ProductInsert')">Sell</button>
            <br>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
                <mat-label *ngIf="Language=='English'">Use Case</mat-label>
                <mat-label *ngIf="Language=='Hindi'">उदाहरण</mat-label>
                <mat-label *ngIf="Language=='Marati'">केस वापरा</mat-label>
                <textarea matInput placeholder="Enter Description" name="Description" #Description="ngModel"
                    [(ngModel)]="ProductModel.Description"></textarea>
            </mat-form-field><br>
            <mat-form-field>
                <mat-label *ngIf="Language=='English'">Quality</mat-label>
                <mat-label *ngIf="Language=='Hindi'">गुणवत्ता</mat-label>
                <mat-label *ngIf="Language=='Marati'">गुणवत्ता</mat-label>
                <mat-select name="Quality" #Quality="ngModel" [(ngModel)]="ProductModel.Quality">
                    <mat-option value="1"> 1 </mat-option>
                    <mat-option value="2"> 2 </mat-option>
                    <mat-option value="3"> 3 </mat-option>
                    <mat-option value="4"> 4 </mat-option>
                    <mat-option value="5"> 5 </mat-option>
                </mat-select>
            </mat-form-field><br>

            <mat-form-field class="example-full-width">
                <mat-label *ngIf="Language=='English'">Available At</mat-label>
                <mat-label *ngIf="Language=='Hindi'">पर उपलब्ध</mat-label>
                <mat-label *ngIf="Language=='Marati'">येथे उपलब्ध</mat-label>
                <textarea *ngIf="Language=='English'" matInput placeholder="Enter Address" name="Address"
                    #Address="ngModel" [(ngModel)]="ProductModel.Address"></textarea>
                <textarea *ngIf="Language=='Hindi'" matInput placeholder="पता लिखिए" name="Address" #Address="ngModel"
                    [(ngModel)]="ProductModel.Address"></textarea>
                <textarea *ngIf="Language=='Marati'" matInput placeholder="पत्ता प्रविष्ट करा" name="Address"
                    #Address="ngModel" [(ngModel)]="ProductModel.Address"></textarea>
            </mat-form-field><br>

            <tru-file-upload *ngIf="Language=='English'" [accept]="'.jpeg,.png,.PNG,.JPEG'" [text]="'Display Picture'"
                [(inputFiles)]="uploadImageFile" [disabled]="uploadImageFile.length === 1"
                [documentName]="'UploadQuestion'">
            </tru-file-upload>
            <tru-file-upload *ngIf="Language=='Hindi'" [accept]="'.jpeg,.png,.PNG,.JPEG'" [text]="'प्रदर्शित चित्र'"
                [(inputFiles)]="uploadImageFile" [disabled]="uploadImageFile.length === 1"
                [documentName]="'UploadQuestion'">
            </tru-file-upload>
            <tru-file-upload *ngIf="Language=='Marati'" [accept]="'.jpeg,.png,.PNG,.JPEG'"
                [text]="'चित्र प्रदर्शित करा'" [(inputFiles)]="uploadImageFile"
                [disabled]="uploadImageFile.length === 1" [documentName]="'UploadQuestion'">
            </tru-file-upload>


            <tru-file-upload *ngIf="Language=='English'" [accept]="'.jpeg,.png,.PNG,.JPEG'"
                [text]="'Other Product Images'" [(inputFiles)]="uploadImageFile2"
                [disabled]="uploadImageFile2.length === 3" [documentName]="'UploadQuestion'">
            </tru-file-upload>
            <tru-file-upload *ngIf="Language=='Hindi'" [accept]="'.jpeg,.png,.PNG,.JPEG'" [text]="'अन्य उत्पाद छवियाँ'"
                [(inputFiles)]="uploadImageFile2" [disabled]="uploadImageFile2.length === 3"
                [documentName]="'UploadQuestion'">
            </tru-file-upload>
            <tru-file-upload *ngIf="Language=='Marati'" [accept]="'.jpeg,.png,.PNG,.JPEG'"
                [text]="'इतर उत्पादन प्रतिमा'" [(inputFiles)]="uploadImageFile2"
                [disabled]="uploadImageFile2.length === 3" [documentName]="'UploadQuestion'">
            </tru-file-upload>
            <p *ngIf="Language=='English'">(maximum 3 Images)</p>
            <p *ngIf="Language=='Hindi'">(अधिकतम 3 छवियाँ)</p>
            <p *ngIf="Language=='Marati'">(जास्तीत जास्त 3 प्रतिमा)</p>
            <br>
        </div>


        <br>
        <p style="color: rgb(62, 110, 14);font-size:30px">{{successmsg}}</p>


    </div>


</div>