<div class="page-wrapper chiller-theme toggled">
  <!-- <a id="show-sidebar" class="btn btn-sm btn-dark">
    <i class="fa fa-bars" (click)="Opensidebar()"></i>
  </a> -->
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a>Industry</a>
        <div id="close-sidebar">
          <i class="fa fa-times" (click)="closesidebar()"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <!-- <img class="img-responsive img-rounded"
            src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture"> -->
        </div>
        <div class="user-info">
          <span class="user-name">
            <!-- <strong>{{loggedInuserDetails.Firstname+" "+loggedInuserDetails.LastName|titlecase}}</strong> -->
          </span>
          <span class="user-role">{{showrole}}</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <!-- <span *ngIf="loggedInuserDetails.UserType==='Employee' || loggedInuserDetails.UserType==='Admin'"> -->
              <!-- {{loggedInuserDetails.Level}}</span> -->
          </span>
        </div>
      </div>
      <div class="sidebar-menu" style="height: 415px;overflow: auto;">
        <ul>
          <li class="sidebar-dropdown" *ngFor="let item of MenuList;trackBy: trackByFn">
            <a (click)="submenu(item);">
              <span>{{item.displayName}}</span>
              <i class="fa fa-chevron-down pull-right iborder"></i>
              <!-- <span class="badge badge-pill badge-warning">New</span> -->
            </a>
            <div class="sidebar-submenu">
              <ul *ngFor="let data of SubMenuList;trackBy: trackByFn">
                <li (click)="onItemSelected(data);close();">
                  <a>{{data.displayName}}
                    <!-- <mat-icon class="iconstyle">{{data.iconName}}</mat-icon> -->
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-footer" (click)="onLoggedOut()">
      <!-- <a>
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a> -->
      <!-- <a>
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>     -->
      <a matTooltip="Click To Logout">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
</div>