<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 table-responsive scroll">
            <i class="fa fa-plus-square-o pointer fa-2x" style="color: blue;" aria-hidden="true"
                matTooltip="Add Category" (click)="popup(null,'Add Category')"></i>
            <table class="table table-bordered table-sm text-nowrap tableFixHead">
                <thead>
                    <th>SR NO.</th>
                    <th>Category Name </th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of CategoryList; let i= index;">
                        <td>{{i+1}} </td>
                        <td>{{p.CategoryName}}</td>
                        <td>&nbsp; <i (click)="popup(p,'Update Category')" style="color: rgb(62, 137, 150);"
                                class="fa fa-pencil-square-o pointer" aria-hidden="true"></i>&nbsp;
                            <i (click)="deletepopup(p,'Delete Category')" style="color: red;"
                                class="fa fa-trash-o pointer" aria-hidden="true"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-7 table-responsive scroll">
            <i class="fa fa-plus-square-o pointer fa-2x" style="color: blue;" aria-hidden="true"
                matTooltip="Add Sub Category" (click)="popup(null,'Add SubCategory')"></i>
            <table class="table table-bordered table-sm text-nowrap tableFixHead">
                <thead>
                    <th>SR NO.</th>
                    <th>Category Name&nbsp;<i class="fa fa-filter" [matMenuTriggerFor]="menu" aria-hidden="true"></i>
                        <mat-menu #menu="matMenu">
                            <button (click)="filter(0)"  mat-menu-item>All</button>
                            <button *ngFor="let s of CategoryList; " (click)="filter(s.Id)"
                                mat-menu-item>{{s.CategoryName}}</button>
                        </mat-menu>
                    </th>
                    
                    <th>Sub Category Name</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of SubCategoryList; let i= index;">
                        <td>{{i+1}} </td>
                        <td>{{p.CategoryName}}</td>
                        <td>{{p.SubCategoryName}}</td>
                        <td>&nbsp;
                            <i (click)="popup(p,'Update SubCategory')" style="color: rgb(62, 137, 150);"
                                class="fa fa-pencil-square-o pointer" aria-hidden="true"></i>&nbsp;
                            <i (click)="deletepopup(p,'Delete SubCategory')" style="color: red;"
                                class="fa fa-trash-o pointer" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>




<div class="modal fade" cdkDrag mdbModal #PopUpModal="mdbModal" id="DetailModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-notify modal-info modal-sm" role="document">
        <!--Content-->
        <div class="modal-content" style="margin-left: -4em;margin-top: 4em;">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead"> {{PopupName}} </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePopUpModal()">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <!--Body-->


            <div class="modal-body">
                <form *ngIf="PopupName=='Add Category'" #EmpForm="ngForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Category Name</mat-label>
                            <input style="font-size: larger;" type="text" matInput placeholder="Enter Category Name"
                                name="CategoryName" #CategoryName="ngModel" [(ngModel)]="ProductModel.CategoryName"
                                autocomplete="off">&nbsp;&nbsp;
                        </mat-form-field>
                        <div class=" modal-footer justify-content-center">
                            <button (click)="ProductInsert(ProductModel,'Add Category')" type="submit"
                                class="btn btn-primary btn-md" [disabled]="!EmpForm.form.valid">Create</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>
                </form>
                <form *ngIf="PopupName=='Update Category'" #EmpForm="ngForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Category Name</mat-label>
                            <input style="font-size: larger;" type="text" matInput placeholder="Enter Category Name"
                                name="CategoryName" #CategoryName="ngModel" [(ngModel)]="ProductModel.CategoryName"
                                autocomplete="off">
                            &nbsp;&nbsp;
                        </mat-form-field>
                        <div class=" modal-footer justify-content-center">
                            <button (click)="ProductInsert(ProductModel,'Update Category')" type="submit"
                                class="btn btn-primary btn-md" [disabled]="!EmpForm.form.valid">Update</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>
                </form>
                <form *ngIf="PopupName=='Add SubCategory'" #EmpForm="ngForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Category Name</mat-label>
                            <mat-select placeholder="Select Category Name" name="CategoryName" #CategoryName="ngModel"
                                [(ngModel)]="ProductModel.Id">
                                <mat-option *ngFor="let p of CategoryList" [value]="p.Id">
                                    {{p.CategoryName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>SubCategory Name</mat-label>
                            <input style="font-size: larger;" type="text" matInput placeholder="Enter SubCategory Name"
                                name="SubCategoryName" #SubCategoryName="ngModel"
                                [(ngModel)]="ProductModel.SubCategoryName" autocomplete="off">&nbsp;&nbsp;
                        </mat-form-field>
                        <div class=" modal-footer justify-content-center">
                            <button (click)="ProductInsert(ProductModel,'Add SubCategory')" type="submit"
                                class="btn btn-primary btn-md" [disabled]="!EmpForm.form.valid">Create</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>
                    </div>
                </form>

                <form *ngIf="PopupName=='Update SubCategory'" #EmpForm="ngForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Category Name</mat-label>
                            <mat-select placeholder="Select Category Name" name="CategoryId" #CategoryId="ngModel"
                                [(ngModel)]="ProductModel.CategoryId">
                                <mat-option *ngFor="let p of CategoryList" [value]="p.Id">
                                    {{p.CategoryName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>SubCategory Name</mat-label>
                            <input style="font-size: larger;" type="text" matInput placeholder="Enter SubCategory Name"
                                name="SubCategoryName" #SubCategoryName="ngModel"
                                [(ngModel)]="ProductModel.SubCategoryName" autocomplete="off">&nbsp;&nbsp;
                        </mat-form-field>
                        <div class=" modal-footer justify-content-center">
                            <button (click)="ProductInsert(ProductModel,'Update SubCategory')" type="submit"
                                class="btn btn-primary btn-md" [disabled]="!EmpForm.form.valid">Update</button>
                            <button type="button" class="btn btn-danger btn-md "
                                (click)="closePopUpModal()">Cancel</button>
                        </div>

                    </div>
                </form>
                <div class="row justify-content-md-center">
                    <h4 style="color: green;">
                        {{successmsg}}</h4>
                    <h4 style="color: red;">
                        {{unsuccessmsg}}</h4>
                </div>
            </div>

        </div>
    </div>
</div>



<!--Modal: modalConfirmDelete confirm dialog box to delete record in table-->
<div class="modal fade" cdkDrag id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" mdbModal #modalConfirmDelete="mdbModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Are you sure?</p>
            </div>
            <div class="modal-body">
                <i class="fa fa-times fa-4x animated rotateIn"></i>
            </div>
            <div class="modal-footer flex-center">
                <button *ngIf="DeleteInput==='Delete Category'" class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="ProductInsert(ProductModel,'Delete Category')">Yes</button>
                <button *ngIf="DeleteInput==='Delete SubCategory'" class="btn btn-outline-danger btn-sm waves-effect"
                    (click)="ProductInsert(ProductModel,'Delete SubCategory')">Yes</button>
                <button type="button" class="button round-md btnstyle btn-sm btn-danger"
                    (click)="modalConfirmDelete.hide()">No</button>
            </div>
        </div>
    </div>
</div>