<button class="uploadbtn" mat-button color="black" (click)="onClick()" [disabled]="disabled">
  <mat-icon>file_upload</mat-icon>
  {{text}}
</button>
<br/>
<ul>
  <li *ngFor="let file of files;trackBy: trackByFn" [@fadeInOut]="file.state">
    <br/>
    <mat-progress-bar [value]="file.progress" *ngIf="inputFiles"></mat-progress-bar>
    <span id="file-label">
      {{file.data.name}}
      <!-- <a title="Retry" (click)="retryFile(file)">
        <mat-icon>refresh</mat-icon>
      </a> -->
      <a title="Cancel" (click)="cancelFile(file)">
        <mat-icon>cancel</mat-icon>
      </a>
    </span>
  </li>
</ul>
<input type="file" id="fileUpload" name="fileUpload" [multiple]="multiple" accept="{{accept}}" style="display:none;" (ngModelChange)="onInputFilesUpdated($event)"
/>