<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="push" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async)">
        <tru-sidemenu [data]="MenuItems"> </tru-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="pointer">
            <!-- <div class="wrapper" (click)="drawer.open();showmenu();Opensidebar();">
                <a class="menu-3" data-menu="3"></a>
            </div> -->
          

            <div class="col-sm-4">
                &nbsp; &nbsp;
                <button class="btn btn-success"  [routerLink]="['/review/product/']" >Home</button>
             
               
            </div>

            <div class="col-sm-5">
             
            </div>

            <div class="col-sm-2">
                <button class="btn-info" mat-button (click)="sell()">Sell
                </button>
            </div>
            <!-- <div class="col-sm-1" *ngIf="!loggedInuserDetails">
                <button class="btn-info" mat-button [routerLink]="['/login/']">LOG IN
                </button>
            </div> -->
            
             <!-- <div class="col-sm-1" *ngIf="loggedInuserDetails">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="row pull-right" id="space" [matMenuTriggerFor]="menu">
                            <a>
                                <img class="headerimage"
                                    src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y">
                         
                                &nbsp; <i class="fa fa-angle-down"></i>
                            </a>
                            <mat-menu #menu="matMenu">
                                <div class="text-center ">
                                    <a><img class="image"
                                            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y"></a>
                                    <br>
                                    <a>
                                        <span class="titlehead">
                                            {{loggedInuserDetails.UserName}}
                                        </span>                                  
                                                                             <span class="titlehead btnstyle" style="cursor: pointer;" (click)="logout()">Logout <i
                                                class="fa fa-sign-out pull-right pointer" aria-hidden="true"></i></span>
                                    </a>
                                </div>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>  -->
     
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
