@import "../sidemenu/sidemenu.component.scss";

.sidenav-container {
  height: 100%;
}

#space a {
  margin: 0 0 1em;
  line-height: 1;
  display: inline-block;
  font-size: 16px;
  margin-top: 18px;
  padding-right: 10px;
}

.mat-menu-item {
  background: 0 0;
  outline: #f0ffff00;
  color: rgba(255, 255, 255, 0.87);
  transition: all 0.6s ease;
}

.mat-menu-item:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 12px;
  box-shadow: 1px 0px 8px 1px #31bac3a3;
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: #03344900;
  outline-color: rgb(255, 255, 255);
  border: 5px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.imglogo {
  border: 1px solid #9393939e;
  padding: 6px;
  border-radius: 10%;
  width: 54px;
}

.divmargin {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
.mat-toolbar-single-row {
  padding: 0 18px;
  color: rgb(255, 255, 255);
  //background: linear-gradient(to right, #02242ef5, #0f6580ec); //#00608dda;
  background: linear-gradient(to right, #04373af5, #1a7278);
  //background: linear-gradient(to right, #4b052af5, #384b64);
  font-size: 18px;
  height: 42px;
}

.mat-button {
  font-size: 15px;
  border: rgba(0, 0, 0, 0);
  border-radius: 28px;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 450;
}

.mat-button {
  color: #f5f5f5;
}

.drk:focus {
  background: rgba(0, 0, 0, 0.856);
  outline: #f0ffff00;
}
.drk:hover {
  background: rgba(233, 233, 233, 0.856);
  border: 1px solid rgb(49, 49, 49);
  box-shadow: 1px 1px 13px 1px #131313;
  color: black;
  outline: #f0ffff00;
}

.drk:active {
  background: rgb(7, 7, 7);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  outline: #f0ffff00;
}
.fa-bars {
  cursor: pointer;
}

@media (min-width: 767px) and (max-width: 960px) {
  .bar {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .bar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .bar {
    display: none;
  }
}

.logo {
  height: "90px";
  width: "190px";
}
.image {
  width: 94px;
  border-radius: 50%;
  border: 1px solid #4c4c4cb8;
}
.titlehead {
  color: rgb(255, 255, 255);
  font-weight: 450;
}

.mat-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 220px;
  width: 200px !important;
  background: #4c4c4cb8;
  border-radius: 15px;
}

.btnstyle {
  float: left;
  padding-left: 70px;
  font-size: 16px;
}

.fa-sign-out {
  padding-left: 5em;
}

::ng-deep .mat-menu-panel {
  background: #4c4c4ce6;
  border-radius: 15px !important;
  margin-top: -9px;
  margin-right: 4px;
}

.headerimage {
  width: 34px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  -webkit-tap-highlight-color: black;
}
.headstyle {
  margin-left: 2em;
}
.head {
  width: 90px;
  margin-left: 4.2em;
  margin-top: 11px;
  border: 1px solid #00000059;
  border-radius: 50%;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width: 962px) {
  .headerimage {
    display: none;
  }
  .titlehead {
    display: none;
  }
  .fa-angle-down {
    display: none;
  }
  .col-sm-8 {
    display: none;
  }
}

.logostyle {
  width: 48px;
  margin-bottom: 2px;
  border: 1px solid #ffffff4d;
  border-radius: 5px;
}

.wrapper {
  width: 1em;
}
.menu-3 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -10px;
  cursor: pointer;
  transition: all 0.3s;
}
.menu-3:before,
.menu-3:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
}
.menu-3 {
  background-color: #e3e3e3af;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.menu-3:hover {
  background-color: orange;
}
.menu-3:before,
.menu-3:after {
  background-color: #212121;
  height: 4px;
  width: 27px;
  top: 59%;
  left: 50%;
  margin-left: -13px;
}
.menu-3:before {
  margin-top: -6px;
}
.menu-3:after {
  margin-top: 4px;
}

.menu-3-active {
  border-radius: 40px;
  background-color: red !important;
}
.menu-3-active:before,
.menu-3-active:after {
  background-color: #e3e3e3;
  margin-left: -15px !important;
  margin-top: -2px !important;
}
.menu-3-active:before {
  transform: rotate(45deg) !important;
}
.menu-3-active:after {
  transform: rotate(-45deg) !important;
}

.fa-search {
  padding: 4px;
  padding-left: 7px;
  padding-right: 8px;
  background-color: blue;
  color: cornsilk;
  cursor: pointer;
  zoom: 93%;
  border-radius: 7px;
}

.search {
  height: 4em;
  padding-top: 9px;
  background-color: grey;
}

.navigationbuttons {
  display: inline-block;
  background-color: rgb(117, 117, 117);
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
}

// start drop down


// .dropdown {
//   position: relative;
//   display: inline-block;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f1f1f1;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }

// .dropdown-content a:hover {background-color: #ddd;}

// .dropdown:hover .dropdown-content {display: block;}

// .dropdown:hover .dropbtn {background-color: #3e8e41;}
// end drop down
