<div class="Language">
    <button class="btn btn-success" mat-button [matMenuTriggerFor]="menu">{{Language}}&nbsp;<i class="fa fa-caret-down"
            aria-hidden="true"></i></button>
    <mat-menu #menu="matMenu">
        <button (click)="Language='English'" mat-menu-item>English</button>
        <button (click)="Language='Hindi'" mat-menu-item>हिन्दी</button>
        <button (click)="Language='Marati'" mat-menu-item>मराठी</button>
    </mat-menu>
</div>

<button *ngIf="Language=='English'" (click)="back()" style="margin-top: 2em;margin-left: 2em;"
    class="btn btn-primary"><i class="fa fa-backward" aria-hidden="true"></i> &nbsp;Back</button>
<button *ngIf="Language=='Hindi'" (click)="back()" style="margin-top: 2em;margin-left: 2em;" class="btn btn-primary"><i
        class="fa fa-backward" aria-hidden="true"></i> &nbsp;वापस</button>
<button *ngIf="Language=='Marati'" (click)="back()" style="margin-top: 2em;margin-left: 2em;" class="btn btn-primary"><i
        class="fa fa-backward" aria-hidden="true"></i> &nbsp;मागे</button>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form *ngIf="SignUpPage && Language=='English'">
            <input type="text" placeholder="Enter Name" name="UserName" #UserName="ngModel"
                [(ngModel)]="AuthModel.UserName" autocomplete="off" />
            <input type="number" placeholder="Enter Phone Number" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" autocomplete="off" />
            <input type="password" placeholder="Enter Password" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" autocomplete="off" />
            <button
                [disabled]="!AuthModel.UserName || !AuthModel.Phone || !AuthModel.Password  || !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)"
                (click)="signUp()">Sign Up</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>
        <form *ngIf="SignUpPage && Language=='Hindi'">
            <input type="text" placeholder="नाम दर्ज" name="UserName" #UserName="ngModel"
                [(ngModel)]="AuthModel.UserName" autocomplete="off" />
            <input type="number" placeholder="फोन नंबर दर्ज" name="Phone" #Phone="ngModel" [(ngModel)]="AuthModel.Phone"
                autocomplete="off" />
            <input type="password" placeholder="पास वर्ड दर्ज करें" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" autocomplete="off" />
            <button
                [disabled]="!AuthModel.UserName || !AuthModel.Phone || !AuthModel.Password  || !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)"
                (click)="signUp()">साइन अप करें</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>
        <form *ngIf="SignUpPage && Language=='Marati'">
            <input type="text" placeholder="नाव प्रविष्ट करा" name="UserName" #UserName="ngModel"
                [(ngModel)]="AuthModel.UserName" autocomplete="off" />
            <input type="number" placeholder="फोन नंबर प्रविष्ट करा" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" autocomplete="off" />
            <input type="password" placeholder="पासवर्ड टाका" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" autocomplete="off" />
            <button
                [disabled]="!AuthModel.UserName || !AuthModel.Phone || !AuthModel.Password  || !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)"
                (click)="signUp()">साइन अप करा</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>
        <form *ngIf="!SignUpPage && Language=='English'">
            <input type="number" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button (click)="verify()">Verify</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>
        <form *ngIf="!SignUpPage && Language=='Hindi'">
            <input type="number" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button (click)="verify()">सत्यापित करें</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>
        <form *ngIf="!SignUpPage && Language=='Marati'">
            <input type="number" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button (click)="verify()">सत्यापित करा</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>

    </div>
    <div *ngIf="Language=='English'" class="form-container sign-in-container">

        <form *ngIf="SignInPage == 'SignIn'">
            <h1>Sign in</h1>
            <input type="number" placeholder="Enter Phone Number" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />
            <input type="password" placeholder="Enter Password" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />
            <a style="cursor: pointer;" (click)="forgotPwd()">Forgot your password?</a>
            <button style="cursor: pointer;" (click)="loginpage(AuthModel)">Sign In</button>

            <b style="color: red;">{{successmsg}}</b>
        </form>

        <form *ngIf="SignInPage == 'Forgot'">

            <input type="number" placeholder="Enter Phone Number" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />

            <button style="cursor: pointer;" (click)="getOtpforgot()"
                [disabled]=" !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)">Get
                OTP</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>

        <form *ngIf="SignInPage == 'VerifyForgotNum'">
            <input type="text" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button style="cursor: pointer;" (click)="verifyOtpForgot()">Verify</button>
            <br>
            <b (click)="SignInPage='Forgot'">Enter Number Again</b><br>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>


        <form *ngIf="SignInPage == 'New PWD'">

            <input type="text" placeholder="Enter New Password" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />

            <button style="cursor: pointer;" (click)="changePwd()">Change Password</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>



    </div>
    <div *ngIf="Language=='Hindi'" class="form-container sign-in-container">

        <form *ngIf="SignInPage == 'SignIn'">
            <h1>साइन इन करें</h1>
            <input type="number" placeholder="फोन नंबर दर्ज" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />
            <input type="password" placeholder="पास वर्ड दर्ज करें" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />
            <a style="cursor: pointer;" (click)="forgotPwd()">अपना कूट शब्द भूल गए ?</a>
            <button style="cursor: pointer;" (click)="loginpage(AuthModel)">साइन इन करें</button>

            <b style="color: red;">{{successmsg}}</b>
        </form>

        <form *ngIf="SignInPage == 'Forgot'">

            <input type="number" placeholder="फोन नंबर दर्ज" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />

            <button style="cursor: pointer;" (click)="getOtpforgot()"
                [disabled]=" !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)">ओटीपी
                प्राप्त करें</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>

        <form *ngIf="SignInPage == 'VerifyForgotNum'">
            <input type="text" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button style="cursor: pointer;" (click)="verifyOtpForgot()">Verify</button>
            <br>
            <b (click)="SignInPage='Forgot'">फिर से नंबर दर्ज करें</b><br>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>


        <form *ngIf="SignInPage == 'New PWD'">

            <input type="text" placeholder="नया पासवर्ड दर्ज करें" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />

            <button style="cursor: pointer;" (click)="changePwd()">पासवर्ड बदलें</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>



    </div>
    <div *ngIf="Language=='Marati'" class="form-container sign-in-container">

        <form *ngIf="SignInPage == 'SignIn'">
            <h1>Sign in</h1>
            <input type="number" placeholder="फोन नंबर प्रविष्ट करा" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />
            <input type="password" placeholder="नवीन पासवर्ड टाका" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />
            <a style="cursor: pointer;" (click)="forgotPwd()">आपला संकेतशब्द विसरलात ?</a>
            <button style="cursor: pointer;" (click)="loginpage(AuthModel)">साइन इन करा</button>

            <b style="color: red;">{{successmsg}}</b>
        </form>

        <form *ngIf="SignInPage == 'Forgot'">

            <input type="number" placeholder="फोन नंबर प्रविष्ट करा" name="Phone" #Phone="ngModel"
                [(ngModel)]="AuthModel.Phone" />

            <button style="cursor: pointer;" (click)="getOtpforgot()"
                [disabled]=" !AuthModel.Phone || !(AuthModel.Phone.toString().length==10 || AuthModel.Phone.toString().length==12)">ओटीपी
                मिळवा</button>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>

        <form *ngIf="SignInPage == 'VerifyForgotNum'">
            <input type="text" placeholder="Enter OTP" name="Otp" #Otp="ngModel" [(ngModel)]="AuthModel.Otp" />
            <button style="cursor: pointer;" (click)="verifyOtpForgot()">सत्यापित करा</button>
            <br>
            <b (click)="SignInPage='Forgot'">पुन्हा संख्या प्रविष्ट करा</b><br>
            <p style="font-size: 20px;color: red;">{{successmsg}}</p>
        </form>


        <form *ngIf="SignInPage == 'New PWD'">

            <input type="text" placeholder="Enter New Password" name="Password" #Password="ngModel"
                [(ngModel)]="AuthModel.Password" />

            <button style="cursor: pointer;" (click)="changePwd()">संकेतशब्द बदला</button>
            <p style="font-size: 20px;color: green;">{{successmsg}}</p>
        </form>



    </div>

    <div class="overlay-container">

        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1 *ngIf="Language=='English'">Welcome Back!</h1>
                <h1 *ngIf="Language=='Hindi'">वापसी पर स्वागत है !</h1>
                <h1 *ngIf="Language=='Marati'">वेलकम बॅक !</h1>
                <p *ngIf="Language=='English'">To keep connected with us please login with your personal info</p>
                <p *ngIf="Language=='Hindi'">हमसे जुड़े रहने के लिए कृपया अपनी व्यक्तिगत जानकारी के साथ लॉगिन करें</p>
                <p *ngIf="Language=='Marati'">आमच्याशी संपर्क साधण्यासाठी कृपया आपल्या वैयक्तिक माहितीसह लॉगिन करा</p>
                <button class="ghost" id="signIn">
                    <p *ngIf="Language=='English'">Sign In</p>
                    <p *ngIf="Language=='Hindi'">साइन इन करें</p>
                    <p *ngIf="Language=='Marati'">साइन इन करा</p>
                </button>
                <!-- <button *ngIf="Language=='Hindi'" class="ghost" id="signIn">साइन इन करें</button>
                <button *ngIf="Language=='Marati'" class="ghost" id="signIn">साइन इन करा</button> -->
            </div>
            <div class="overlay-panel overlay-right">
                <h1 *ngIf="Language=='English'">Hello, Friend !</h1>
                <h1 *ngIf="Language=='Hindi'">हैलो दोस्त !</h1>
                <h1 *ngIf="Language=='Marati'">नमस्कार, मित्र !</h1>
                <p *ngIf="Language=='English'">Enter your personal details and start journey with us</p>
                <p *ngIf="Language=='Hindi'">अपना व्यक्तिगत विवरण दर्ज करें और हमारे साथ यात्रा शुरू करें</p>
                <p *ngIf="Language=='Marati'">आपले वैयक्तिक तपशील प्रविष्ट करा आणि आमच्याबरोबर प्रवास सुरू करा</p>
                <button class="ghost" id="signUp">
                    <p *ngIf="Language=='English'">Sign Up</p>
                    <p *ngIf="Language=='Hindi'">साइन अप करें</p>
                    <p *ngIf="Language=='Marati'">साइन अप करा</p>
                </button>
                <!-- <button  *ngIf="Language=='English'" class="ghost" id="signUp">साइन अप करें</button>
                <button  *ngIf="Language=='Marati'" class="ghost" id="signUp">साइन अप करा</button> -->
            </div>
        </div>

    </div>



</div>