/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.rowMargin {
    margin-top: -16px;
  }
  
  .round-btn {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }
  
  .success-msg {
    color: green;
  }
  
  .fail-msg {
    color: red;
  }
  
  .full-width {
    width: 100%;
  }
  
  .linking-text:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #039be5;
  }
  
  .spinner {
    margin: 140px 45%;
  }
  
  tfoot {
    float: right;
  }
  
  table.table-sm th,
  table.table-sm td {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
  }
  
  table.table-sm th {
    font-weight: 400;
    //background-color: #00b0ff;
    background-color: #09909c;
    color: white;
  }
  
  table.table-sm td {
    font-size: smaller;
    font-weight: 400;
    // font-weight: 450;
  }
  
  table {
    // border-collapse: collapse;
    // width: 100%;
    // border-spacing: 0 10px;
    border-collapse: separate;
    border-spacing: 0.2 0.5px;
    margin-top: -2px;
  }
  
  th,
  td {
    background: #fff;
    padding: 8px 16px;
  }
  
  td {
    border: ridge 1px rgb(184, 184, 184);
    border-style: solid none;
    padding: 10px;
  }
  
  .tableFixHead {
    overflow: auto;
    height: 100px;
  }
  
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  
  th:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
  }
  
  th:last-child {
    border-right-style: solid;
    border-top-right-radius: 10px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.8rem + 0.1px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .mat-select-panel .mat-optgroup-label,
  .mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 3em;
    height: 2em !important;
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.285em 0 !important;
    font-size: smaller;
  }
  
  .mat-card-title {
    font-size: 21px;
    font-weight: 400;
  }
  
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .mat-expansion-panel-header-title {
    color: #009688 !important;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .btn-md,
  .btn-sm {
    border: 2px solid rgb(250, 250, 250) !important;
    border-radius: 30px !important;
    padding: 0.4rem 1.2rem !important;
  }
  
  .ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 12px;
  }
  
  .mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 8px;
    padding-right: 0;
    font-size: smaller;
  }
  
  .badge-success {
    background-color: #00c851 !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .badge-warning {
    background-color: #ff8800 !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .badge-primary {
    background-color: #4285f4 !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .badge-danger {
    background-color: #ff3547 !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .badge-default {
    background-color: #2bbbad !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    font-weight: 400;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
  }
  
  .card-header {
    height: 2rem;
    margin-bottom: 0;
    background-color: #30a6b2;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(1.25rem - 6px) calc(1.25rem - 6px) 0 0;
  }
  
  .mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .badge-info {
    background-color: #33b5e5 !important;
    color: #fff !important;
    border-radius: 10rem;
    padding-right: 0.6em;
    padding-left: 0.6em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #099662 !important;
    color: #fff !important;
  }
  
  .btn-primary {
    background-color: #137fb1 !important;
    color: #fff !important;
  }
  
  .modal-header {
    padding: 0.4rem;
  }
  
  .modal-dialog.modal-notify.modal-info .modal-header {
    background: linear-gradient(to right, #0795a1, #35d0dfe5);
  }
  
  .modal-dialog .modal-content {
    border: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 11px;
  }
  
  .modal-dialog {
    height: 100%;
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }
  .tableFixHead {
    overflow: auto;
    height: 100px;
    }
    
    .tableFixHead thead th {
    position: sticky;
    top: 0;
    }